<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naslovna</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="index">
    <div class="navbar">
        <a href="/">Naslovna</a>
        <a href="/reklamacije">Reklamacije</a>
        <a href="/vizualizacija">Vizualizacija</a>
    </div>
    <div class="content">
        <h1>Sustav za reklamacije</h1>
    </div>
    <div class="footer">
        Informacijski sustavi, 2024.
    </div>
    <script src="/static/scripts.js"></script>
</body>
</html>
