<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vizualizacija</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/scripts.js" defer></script>
</head>
<body>
    <div class="navbar">
        <a href="/">Naslovna</a>
        <a href="/reklamacije">Reklamacije</a>
        <a href="/vizualizacija">Vizualizacija</a>
    </div>
    <div class="container vizualizacija">
        <div class="header">
            <h2>Vizualizacija</h2>
        </div>
        <div class="chart-title">Broj reklamacija po mjesecima</div>
        <canvas id="barChart"></canvas>
        <div class="chart-title">Odnos statusa reklamacija</div>
        <canvas id="pieChart" style="margin-top: 40px;"></canvas>
    </div>
    <script type="application/json" id="labels_mjeseci">{{ labels_mjeseci|tojson }}</script>
    <script type="application/json" id="data_mjeseci">{{ data_mjeseci|tojson }}</script>
    <script type="application/json" id="labels_status">{{ labels_status|tojson }}</script>
    <script type="application/json" id="data_status">{{ data_status|tojson }}</script>
</body>
</html>
